.nav {
  /* margin-left: auto; */
  margin: 20px 0 20px auto;
}
.nav__account {
  display: flex;
}
.nav__account-car {
  display: flex;
  /* margin-right: 10px; */
}
.nav__account-login {
  display: flex;
}
.nav__account-login .link {
  color: #fff;
}
.nav__account-login .link:hover {
  color: #007bff;
}
.nav__link {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.nav__link i {
  font-size: 18px;
  padding: 10px;
  background-color: #fff;
  /* color: #ed254e; */
  border: 1px solid rgba(41, 41, 41, 0.116);
  border-radius: 50%;
}
.nro-products {
  position: absolute;
  margin-left: 30px;
  background-color: rgb(92, 92, 92);
  color: #effffa;
  height: 25px;
  width: 23px;
  text-align: center;
  border-radius: 50%;
}
.itemside {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .itemside {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    align-items: initial;
  }
}
.itemside .aside {
  margin-top: 10px;
  margin-right: 5px;
  width: 55px;
}
.itemside .aside span {
  padding: 15px;
}
.itemside .aside i {
  color: #fff;
  font-size: 20px;
}
.itemside .aside2 {
  width: 80px;
}
.img-wrap {
  text-align: center;
}
.card-product {
  width: 100%;
  height: 328px;
  object-fit: cover;
}
.container-img-detail {
  align-items: center;
  display: flex;
}
.link-img-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-product-detail {
  width: 50%;
}
.description {
  padding: 20px;
}
.section-heading {
  margin: 20px 0;
}
.col-md-3 {
  margin-bottom: 20px;
}
.card-product-grid:hover {
  box-shadow: 0 4px 15px rgb(153 153 153 / 30%);
  transition: 0.3s;
}
.card figcaption {
  padding: 15px;
}
.price-wrap {
  margin-bottom: 10px;
}
.banner-principal {
  height: calc(100vh - 206px);
  margin-bottom: 20px;
}
a {
  color: #011936;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.section-name {
  margin: 25px 0;
}
.auspiciadores .col-6 {
  display: flex;
  align-items: center;
}
.item-logo a img {
  width: 100%;
}
.section-footer {
  color: #fff;
}
.section-footer a,
.section-footer p {
  padding-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  color: #fff;
}
#main_nav .dropdown {
  margin-right: 20px;
}
#main_nav .dropdown a {
  display: flex;
  align-items: center;
}
.fa-chevron-down {
  margin-top: 4px;
  margin-left: 5px;
}
.padding-45 {
  padding: 30px 0;
  /* margin-bottom: 30px; */
}
.img-shopping {
  padding-top: 15px;
  width: 80px;
}
.table-shopping__tr {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.table-shopping__tr td {
  vertical-align: middle;
  display: flex;
  justify-content: center;
}
.table-shopping__tr select {
  width: 50%;
}
.table-shopping__tr .column-product {
  width: 100%;
}

@media (min-width: 768px) {
  .table-shopping__tr {
    border: none;
  }
  .table-shopping__tr td {
    display: inline-block;
  }
  .table-shopping__tr .column-product {
    width: 45%;
  }
  .table-shopping__tr select {
    width: 100%;
  }
}

.price {
  display: block;
}

.back-color-primary {
  background-color: #011936;
  padding: 20px 0;
  margin-bottom: 2px;
}
.back-color-secondary {
  background-color: #ed254e;
}
.back-color-third {
  background-color: #effffa;
}
.color-primary {
  color: #011936 !important;
}
.color-secondary {
  color: #ed254e !important;
}
.color-third {
  color: #effffa;
}

/*-------------------------------*/

@media (max-width: 800px) {
  .card-product {
    width: 50%;
  }
  .section-name-spon {
    display: none;
  }
  .section-footer .col-md-spon,
  .col-md-social {
    display: none;
  }
  .footer-bottom .col-md-6-pay {
    display: none;
  }
  .section-content-text {
    display: none;
  }
  .dropdown-menu {
    border: none;
  }
  .header__input-search {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .aside2 {
    display: none;
  }
}
@media (min-width: 1200px) {
  .aside2 {
    display: block;
  }
}

@media (max-width: 1200px) {
  .fa-chevron-down {
    display: none !important;
  }
  .brand-wrap img {
    margin: 5px 0 10px;
  }
  .nav {
    margin: 10px 0 10px 20px;
  }
  .banner-principal {
    height: calc(100vh - 307px);
  }
}

@media (max-height: 600px) {
  .banner-principal {
    height: 250px;
  }
}







.file {
  visibility: hidden;
  position: absolute;
}
.disable-div {
    pointer-events: none;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}