<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="layout/layout::head"></head>

<body>

	<header th:replace="layout/layout::header"></header>


	<nav class="navbar navbar-main navbar-expand-lg border-bottom  navbar-light">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav"
				aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="main_nav">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link pl-0" data-toggle="dropdown" th:href="@{/productos/1}">Laptops <i
								class="fas fa-chevron-down"></i></a>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/productos/1}">Laptops</a>
							<a class="dropdown-item" th:href="@{/productos/1}">Laptops Gamers</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link pl-0" data-toggle="dropdown" th:href="@{/productos/2}">Impresoras <i
								class="fas fa-chevron-down"></i></a>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/productos/2}">Impresoras</a>
							<a class="dropdown-item" th:href="@{/productos/2}">Multifuncionales</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link pl-0" data-toggle="dropdown" th:href="@{/productos/3}">Celulares <i
								class="fas fa-chevron-down"></i></a>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/productos/3}">Xiaomi</a>
							<a class="dropdown-item" th:href="@{/productos/3}">Apple</a>
							<a class="dropdown-item" th:href="@{/productos/3}">Samsung</a>
							<a class="dropdown-item" th:href="@{/productos/3}">Huawei</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link pl-0" data-toggle="dropdown" th:href="@{/productos/4}">Cámaras <i
								class="fas fa-chevron-down"></i></a>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/productos/4}">Cámaras Digitales</a>
							<a class="dropdown-item" th:href="@{/productos/4}">Cámaras Deportivas</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link pl-0" data-toggle="dropdown" th:href="@{/productos/5}">Wearables <i
								class="fas fa-chevron-down"></i></a>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/productos/5}">Smarwatch</a>
							<a class="dropdown-item" th:href="@{/productos/5}">Gafas inteligentes</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link pl-0" data-toggle="dropdown" th:href="@{/productos/6}">TV's <i
								class="fas fa-chevron-down"></i></a>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/productos/6}">Básicos</a>
							<a class="dropdown-item" th:href="@{/productos/6}">SmartTv</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link pl-0" data-toggle="dropdown" th:href="@{/productos/7}">Audio <i
								class="fas fa-chevron-down"></i></a>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/productos/7}">Audífonos</a>
							<a class="dropdown-item" th:href="@{/productos/7}">Parlantes</a>
							<a class="dropdown-item" th:href="@{/productos/7}">MP3</a>
						</div>
					</li>
				</ul>
			</div> <!-- collapse .// -->
		</div> <!-- container .// -->
	</nav>

	</header> <!-- section-header.// -->
	<!-- ========================= SECTION INTRO ========================= -->
	<section class="section-intro">
		<div class="intro-banner-wrap">
			<img src="https://i.ibb.co/6yyBkvn/banner.jpg"
				class="w-100 img-fluid banner-principal">
		</div>
	</section>
	<!-- ========================= SECTION INTRO END// ========================= -->

	<!-- ========================= SECTION SPECIAL ========================= -->
	<section class="section-specials padding-y border-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<figure class="itemside">
						<div class="aside">
							<span class="icon-sm rounded-circle bg-primary">
								<i class="fa fa-money-bill-alt white"></i>
							</span>
						</div>
						<figcaption class="info">
							<h6 class="title">Precios razonables</h6>
							<p class="text-muted">Que sea barato no signifique que sea malo. Contamos con el mejor
								precio.</p>
						</figcaption>
					</figure> <!-- iconbox // -->
				</div><!-- col // -->
				<div class="col-md-4">
					<figure class="itemside">
						<div class="aside">
							<span class="icon-sm rounded-circle bg-danger">
								<i class="fa fa-comment-dots white"></i>
							</span>
						</div>
						<figcaption class="info">
							<h6 class="title">Soporte 24/7 </h6>
							<p class="text-muted">Estamos aquí para ayudarte, comunícate con nosotros vía online.</p>
						</figcaption>
					</figure> <!-- iconbox // -->
				</div><!-- col // -->
				<div class="col-md-4">
					<figure class="itemside">
						<div class="aside">
							<span class="icon-sm rounded-circle bg-success">
								<i class="fa fa-truck white"></i>
							</span>
						</div>
						<figcaption class="info">
							<h6 class="title">Delivery rápido</h6>
							<p class="text-muted">Reciba con total seguridad su pedido en hasta 24 horas.</p>
						</figcaption>
					</figure> <!-- iconbox // -->
				</div><!-- col // -->
			</div> <!-- row.// -->

		</div> <!-- container.// -->
	</section>
	<!-- ========================= SECTION SPECIAL END// ========================= -->




	<!-- ========================= SECTION  ========================= -->
	<section class="section-name  padding-y-sm">
		<div class="container">

			<header class="section-heading">
				<a href="productos" class="btn btn-outline-primary float-right">Ver más</a>
				<h3 class="section-title">Productos más populares</h3>
			</header><!-- sect-heading -->

			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6" th:each="p:${lstProducto}">
				 <form method="post" th:action="@{/index}">
					<figure class="card card-product-grid">
						<div class="img-wrap">
							<img class="card-product" th:src="${p.image}">
						</div> <!-- img-wrap.// -->
						<figcaption class="info-wrap">
							<div class="fix-height  box-link">
								<p class="m-0 info-text" th:text="${p.mar_prod}"></p>
								<a th:href="@{'/producto/' + ${p.prod}}" class="title"
									th:text="${p.mod_prod}"></a>
								<div class="price-wrap mt-2">
									<span class="price" th:text="${p.precio}"></span>
								</div> <!-- price-wrap.// -->
							</div>
							 <input style="display: none;" th:value="${p.prod}" name="probBole"/>
							<button class="btn btn-block btn-primary">Añadir al carrito</button>
							
						</figcaption>
					</figure>
				 </form>
				</div> <!-- col.// -->

			</div> <!-- row.// -->

		</div><!-- container // -->
	</section>
	<!-- ========================= SECTION  END// ========================= -->

	<!-- ========================= SECTION  ========================= -->
	<section class="section-name-spon bg padding-y-sm">
		<div class="container">
			<header class="section-heading">
				<h3 class="section-title">Nuestros auspiciadores</h3>
			</header><!-- sect-heading -->

			<div class="row auspiciadores">
				<div class="col-md-2 col-6">
					<figure class="box item-logo">
						<a href="https://www.wwf.org.pe/"><img
								src="https://landportal.org/sites/landportal.org/files/styles/220heightmax/public/wwf-logo.jpg?itok=4Bv5quQR"></a>
					</figure> <!-- item-logo.// -->
				</div> <!-- col.// -->
				<div class="col-md-2  col-6">
					<figure class="box item-logo">
						<a href="https://latam.pg.com/marcas-y-productos/"><img
								src="https://www.america-retail.com/static//2020/12/Agencia-PG.jpg"></a>
					</figure> <!-- item-logo.// -->
				</div> <!-- col.// -->
				<div class="col-md-2  col-6">
					<figure class="box item-logo">
						<a href="https://www.faber-castell.com.pe/"><img
								src="https://i.pinimg.com/originals/dd/a8/a4/dda8a480eea2582ec7b3442a5741d5c7.png"></a>
					</figure> <!-- item-logo.// -->
				</div> <!-- col.// -->
				<div class="col-md-2  col-6">
					<figure class="box item-logo">
						<a href="https://www.alicorp.com.pe/pe/es/"><img
								src="https://operacionsonrisa.org.pe/wp-content/uploads/2019/02/Alicorp.png"></a>
					</figure> <!-- item-logo.// -->
				</div> <!-- col.// -->
				<div class="col-md-2  col-6">
					<figure class="box item-logo">
						<a href="https://www.viabcp.com/"><img
								src="https://d31dn7nfpuwjnm.cloudfront.net/images/valoraciones/0035/4732/Cuenta_ilimitada_BCP_requisitos__beneficios_y_comisiones.png?1571258817"></a>
					</figure> <!-- item-logo.// -->
				</div> <!-- col.// -->
				<div class="col-md-2  col-6">
					<figure class="box item-logo">
						<a href="https://www.tarjetacencosud.pe/"><img
								src="https://d31dn7nfpuwjnm.cloudfront.net/images/valoraciones/0023/9621/cencosud.png?1465988464">
					</figure> <!-- item-logo.// -->
				</div> <!-- col.// -->
			</div> <!-- row.// -->
		</div><!-- container // -->
	</section>
	<!-- ========================= SECTION  END// ========================= -->

	<!-- ========================= SECTION  ========================= -->
	<section class="section-name padding-y">
		<div class="container">

			<h3 class="mb-3">Pronto estaremos en tu celular...</h3>

			<a href="#"><img src="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/images/misc/appstore.png"
					height="40"></a>
			<a href="#"><img src="https://bootstrap-ecommerce.com/bootstrap-ecommerce-html/images/misc/appstore.png"
					height="40"></a>

		</div><!-- container // -->
	</section>
	<!-- ========================= SECTION  END// ======================= -->

	<footer th:replace="layout/layout::footer-1"></footer>
</body>

</html>