<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="layout/layout::head"></head>

<body>
	
	<header th:replace="layout/layout::header"></header>

	<!-- ============================ COMPONENT REGISTER   ================================= -->
	<section class="section-content padding-y">
		<div class="card mx-auto">
			<div class="card-body">
				<h4 class="card-title mb-4">Iniciar Sesión</h4>
				<form method="post" th:action="@{/login}">
					<a href="#" class="btn btn-facebook btn-block mb-2"> <i class="fab fa-facebook-f"></i> &nbsp Ingresar
						con Facebook</a>
					<a href="#" class="btn btn-google btn-block mb-4"> <i class="fab fa-google"></i> &nbsp Ingresar con
						Google</a>
					<div class="form-group">
						<input class="form-control" placeholder="Usuario" type="text" name="username">
					</div> <!-- form-group// -->
					<div class="form-group">
						<input class="form-control" placeholder="Contraseña" type="password" name="password">
					</div> <!-- form-group// -->
	
					
						<button type="submit" class="btn btn-primary btn-block"> Ingresar </button>
					</div> <!-- form-group// -->
				</form>
			</div> <!-- card-body.// -->
		</div> <!-- card .// -->
	
		<p class="text-center mt-4">¿No tienes una cuenta? <a href="registrar" class="">Regístrate</a></p>
		<br><br>
	</section>
	
	<footer th:replace="layout/layout::footer-2"></footer>

</body>

</html>