<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<head>

<head th:replace="layout/layout::head"></head>

<body>
    <header th:replace="layout/layout::header"></header>

    <!-- ========================= SECTION  ======================= -->
    <section class="header-main border-0 back-color-light mb-4 mt-4" style="min-height: calc(100vh - 285px);">
        <div class="container">
            <div class="row p-3 m-1  border rounded">
                <div class="col-md-12 col-lg-12 col-sm-12 order-md-1">
                    <div class="row">
                        <div class="col-3 col-lg-1 col-md-2 col-sm-2 order-md-1 text-md-right p-0">
                            <i class="bi bi-person-circle"></i>
                        </div>
                        <div class="col-9 col-lg-11 col-md-10 col-sm-10 order-md-2 text-md-left pt-3">
                            <span>HOLA</span>
                            <p th:text="${user.nom_usua} + ' ' + ${user.ape_usua}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center menu">
                <div class="col-12 col-md-12 col-lg-12 col-sm-12 order-md-2 perfil">
                    <div class="tab-content perfil" id="nav-tabContent">
                         <!-- ====================================-DATOS PERSONALES ==================================== -->
                        <div class="tab-pane fade show active" id="list-personal" role="tabpanel" aria-labelledby="list-personal-list">
                            <form th:object="${met}" th:action="@{/perfil-metodo}" method="post">
                                <div class="container-personal p-4 border rounded">
                                    <h5>Mi método de pago</h5>
                                    <div class="row">
                                        <div class="col-md-6">
			                                	<input style="display: none;" th:field="*{id_tarj}"  name="id_tarj"/>
                                            <label for="nombre_usua" class="col-form-label-sm"> Número</label>
                                            <input type="text" maxlength="16" class="form-control form-control-sm border-secondary" th:field="*{num_tarj}" minlength="16" name="num_tarj" required> 
                                        </div> 
                                        <div class="col-md-6">
                                            <label for="apellido_usua" class="col-form-label-sm">Fecha</label>
                                            <input type="text"  minlength="5" maxlength="5" class="form-control form-control-sm border-secondary" th:field="*{fec_venc}" name="fec_venc" required> 
                                        </div> 
                                    </div>
                                    <div class="row">
			                             <div class="col-md-6">
                                            <label for="apellido_usua" class="col-form-label-sm">CVV</label>
                                            <input type="text"  minlength="3" maxlength="3" class="form-control form-control-sm border-secondary" th:field="*{cvv}" name="cvv" required> 
                                        </div> 
                                    </div>
                                </div>
                                <div class="container-personal-noti border rounded">
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            <input type="submit" class="btn save" style="margin-top: 9px;" value="Guardar cambios">
                                            <a th:href="@{/perfil}" class="btn btn-primary">Volver</a>
                                        </div> 
                                    </div>                           
                                </div>
                            </form>
                        </div>
                </div>
            </div>
        </div> 
    </section>
    
    <!-- ========================= SECTION  END// ======================= -->
    
    <footer th:replace="layout/layout::footer-2"></footer>
    
</body>
</html>