<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<head>

<head th:replace="layout/layout::head"></head>

<body>
    <header th:replace="layout/layout::header"></header>

    <!-- ========================= SECTION  ======================= -->
    <section class="header-main border-0 back-color-light mb-4 mt-4">
        <div class="container">
            <div class="row p-3 m-1  border rounded">
                <div class="col-md-12 col-lg-12 col-sm-12 order-md-1">
                    <div class="row">
                        <div class="col-3 col-lg-1 col-md-2 col-sm-2 order-md-1 text-md-right p-0">
                            <i class="bi bi-person-circle"></i>
                        </div>
                        <div class="col-9 col-lg-11 col-md-10 col-sm-10 order-md-2 text-md-left pt-3">
                            <span>HOLA</span>
                            <p th:text="${user.nom_usua} + ' ' + ${user.ape_usua}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center menu">
                <div class="col-12 col-md-12 col-lg-4 col-sm-12 order-md-1">
                    <div div class="list-group menu-perfil border rounded" id="list-tab" role="tablist" >
                        <a class="list-group-item list-group-item-action active" id="list--personal-list" data-toggle="list" href="#list-personal" role="tab" aria-controls="personal">
                            <div class="row">
                                <div class="col-3 col-lg-2 col-md-3 col-sm-3">
                                    <i class="bi bi-person"></i>
                                </div>
                                <div class="col-6 col-lg-8 col-md-7 col-sm-6 p-2">
                                    <span>Datos personales</span>
                                </div>
                                <div class="col-3 col-lg-2 col-md-2 col-sm-3">
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <a class="list-group-item list-group-item-action" id="list-password-list" data-toggle="list" href="#list-password" role="tab" aria-controls="password">
                            <div class="row">
                                <div class="col-3 col-lg-2 col-md-3 col-sm-3">
                                    <i class="bi bi-key"></i>
                                </div>
                                <div class="col-6 col-lg-8 col-md-7 col-sm-6 p-2">
                                    <span>Mis direcciones</span>
                                </div>
                                <div class="col-3 col-lg-2 col-md-2 col-sm-3">
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <a class="list-group-item list-group-item-action" id="list-buy-list" data-toggle="list" href="#list-buy" role="tab" aria-controls="buy" >
                            <div class="row">
                                <div class="col-3 col-lg-2 col-md-3 col-sm-3">
                                    <i class="bi bi-handbag"></i>
                                </div>
                                <div class="col-6 col-lg-8 col-md-7 col-sm-6 p-2">
                                    <span>Mis compras</span>
                                </div>
                                <div class="col-3 col-lg-2 col-md-2 col-sm-3">
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <!--<a class="list-group-item list-group-item-action" id="list-sell-list" data-toggle="list" href="#list-sell" role="tab" aria-controls="sell">
                            <div class="row">
                                <div class="col-3 col-lg-2 col-md-3 col-sm-3">
                                    <i class="bi bi-shop-window"></i>
                                </div>
                                <div class="col-6 col-lg-8 col-md-7 col-sm-6 p-2">
                                    <span>Mis ventas</span>
                                </div>
                                <div class="col-3 col-lg-2 col-md-2 col-sm-3">
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </a>-->
                        <a class="list-group-item list-group-item-action" id="list-pay-list" data-toggle="list" href="#list-pay" role="tab" aria-controls="pay">
                            <div class="row">
                                <div class="col-3 col-lg-2 col-md-3 col-sm-3">
                                    <i class="bi bi-credit-card"></i>
                                </div>
                                <div class="col-6 col-lg-8 col-md-7 col-sm-6 p-2">
                                    <span>Medios de pago</span>
                                </div>
                                <div class="col-3 col-lg-2 col-md-2 col-sm-3">
                                    <i class="bi bi-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                        <form method="POST" th:action="@{/logout}" class="list-group-item list-group-item-action bg-new">
                            <button class="row sesion button-off">
                                <div class="col-3 col-lg-2 col-md-3 col-sm-3">
                                    <i class="bi bi-power"></i>
                                </div>
                                <div class="col-9 col-lg-10 col-md-9 col-sm-9 p-2">
                                    <span>Cerrar sesión</span>
                                </div>
                            </button>
                        </form>
                    </div>             
                </div>
                <div class="col-12 col-md-12 col-lg-8 col-sm-12 order-md-2 perfil">
                    <div class="tab-content perfil" id="nav-tabContent">
                         <!-- ====================================-DATOS PERSONALES ==================================== -->
                        <div class="tab-pane fade show active" id="list-personal" role="tabpanel" aria-labelledby="list-personal-list">
                            <form th:action="@{/perfil}" method="post">
                                <div class="container-personal p-4 border rounded">
                                    <h5>Datos personales</h5>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="nombre_usua" class="col-form-label-sm"> Nombre</label>
                                            <input type="text" class="form-control form-control-sm border-secondary" th:value="${user.nom_usua}" name="nom_usua" required> 
                                        </div> 
                                        <div class="col-md-6">
                                            <label for="apellido_usua" class="col-form-label-sm"> Apellido</label>
                                            <input type="text" class="form-control form-control-sm border-secondary" th:value="${user.ape_usua}" name="ape_usua" required> 
                                        </div> 
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="nombre_usua" class="col-form-label-sm"> DNI</label>
                                            <input type="number" class="form-control form-control-sm border-secondary" maxlength="8" minlength="8" th:value="${user.dni_usua}" name="dni_usua" required> 
                                        </div> 
                                        <div class="col-md-6">
                                            <label for="apellido_usua" class="col-form-label-sm"> Fecha de nacimiento</label>
                                            <input type="date" class="form-control form-control-sm border-secondary" th:value="${user.fec_nac_usua}" name="fec_nac_usua"  required> 
                                        </div> 
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="nombre_usua" class="col-form-label-sm"> Teléfono</label>
                                            <input type="text" class="form-control form-control-sm border-secondary" th:value="${user.tel_usua}" name="tel_usua" required> 
                                        </div> 
                                        <div class="col-md-6">
                                            <label for="nombre_usua" class="col-form-label-sm"> Correo</label>
                                            <input type="email" class="form-control form-control-sm border-secondary" th:value="${user.email_log}" name="email_log" required> 
                                        </div> 
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="nombre_usua" class="col-form-label-sm"> Usuario</label>
                                            <input type="text" class="form-control form-control-sm border-secondary" th:value="${user.usuario}" name="usuario" required> 
                                        </div> 
                                        <div class="col-md-6">
                                            <label for="nombre_usua" class="col-form-label-sm"> Cambiar contraseña</label>
                                            <input type="password" class="form-control form-control-sm border-secondary" placeholder="Ingrese nueva contraseña" name="pass" value=""> 
                                        </div> 
                                    </div>
                                </div>
                                <div class="container-personal-noti border rounded">
                                    <div class="row">
                                        <div class="col-md-12 text-right" style="margin-top: 10px;">
                                            <input type="submit" class="btn save" value="Actualizar datos">
                                        </div> 
                                    </div>                           
                                </div>
                            </form>
                        </div>
                         <!--  ====================================CAMBIO DE DATOS DEL USUARIO ==================================== -->
                        <div class="tab-pane fade" id="list-password" role="tabpanel" aria-labelledby="list-password-list">
                              <div class="container-personal buy p-4 border rounded">
                                <div class="card-body pt-3 pb-0 mt-n3">
                                    <div class="row">
                                        <div class="col-md-7 text-left">
                                            <h5 class="m-0 p-0"> Mis direcciones</h5>
                                            <span class="col-form-label-sm" th:text="${direcciones.size} + ' compras'"></span>
                                        </div>
                                        <div class="col-12 col-lg-5 col-md-8 col-sm-8 text-right">
                                            <ul class="list-group list-group-horizontal pl-3">
                                               <li class="list-group-item p-1"><a class="btn btn-primary border-0" th:href="@{/perfil-direccion/new}">Agregar nueva dirección</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center p-3">
                                            <table class="table table-bordersell">
                                                <tbody>
                                                    <tr class="table_list" th:each="d:${direcciones}">
                                                        <th class="text-left" scope="row">·</th>
                                                        <td class="text-left">
                                                            <p class="p-0 m-0" th:text="'Id ' + ${d.idDirec}"></p>
                                                        </td>
                                                        <td class="text-right state">Válido</td>
                                                        <td class="text-right">
                                                            <p class="p-0 m-0" th:text="'Descripción : ' + ${d.desc_direc}"></p>
                                                            <span class="p-0 m-0" th:text="'Etiqueta : ' + ${d.etiqueta}"></span>
                                                        </td>
                                                        <td class="text-right">
                                                        <a th:href="@{'/perfil-direccion/' + ${d.idDirec}}" class="text-right"><i class="bi bi-arrow-right-square-fill" style="vertical-align: middle;"></i></a>
                                                        <form th:action="@{'/direccionDelete/' + ${d.idDirec}}" method="post" style="display: contents">
                                                        	<button class="btn btn-danger">X</button>
                                                        </form>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>   
                        </div>
                         <!--  ====================================LISTA DE COMPRAS ==================================== -->
                        <div class="tab-pane fade " id="list-buy" role="tabpanel" aria-labelledby="list-buy-list">
                            <div class="container-personal buy p-4 border rounded">
                                <div class="card-body pt-3 pb-0 mt-n3">
                                    <div class="row">
                                        <div class="col-md-7 text-left">
                                            <h5 class="m-0 p-0"> Compras</h5>
                                            <span class="col-form-label-sm" th:text="${compras.size} + ' compras'"></span>
                                        </div>
                                        <div class="col-12 col-lg-5 col-md-8 col-sm-8 text-right">
                                            <ul class="list-group list-group-horizontal pl-3">
                                               <li class="list-group-item p-1"><a class="btn btn-primary border-0" th:href="@{/productos}">Realizar nueva compra</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center p-3">
                                            <table class="table table-bordersell">
                                                <tbody>
                                                    <tr class="table_list" th:each="c:${compras}">
                                                        <th class="text-left" scope="row">·</th>
                                                        <td class="text-left">
                                                            <p class="p-0 m-0" th:text="'Nro ' + ${c.numBol}"></p>
                                                            <span class="p-0 m-0"  th:text="'Fecha : ' + ${c.fec_bol}"></span>
                                                        </td>
                                                        <td class="text-right state">Comprado</td>
                                                        <td class="text-right">
                                                            <p class="p-0 m-0" th:text="'Importe : S/. ' + ${c.impo_bol}"></p>
                                                            <span class="p-0 m-0">Envío gratis</span>
                                                        </td>
                                                        <td class="text-right">
                                                        <a th:href="@{'/perfil-compra/' + ${c.numBol}}" class="text-right"><i class="bi bi-arrow-right-square-fill"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>                       
                        </div>
                        <!--  ====================================LISTA DE VENTAS ====================================- -->
                        <div class="tab-pane fade" id="list-sell" role="tabpanel" aria-labelledby="list-sell-list">
                            <div class="container-personal buy p-4 border rounded">
                                <div class="card-body pt-3 pb-0 mt-n3">
                                    <div class="row">
                                        <div class="col-12 col-lg-7 col-md-4 col-sm-4 text-left">
                                            <h5 class="m-0 p-0">Ventas</h5>
                                            <span class="col-form-label-sm">5 ventas</span>
                                        </div>
                                        <div class="col-12 col-lg-5 col-md-8 col-sm-8 text-right">
                                            <ul class="list-group list-group-horizontal pl-3">
                                               <li class="list-group-item p-1"><a class="btn btn-primary border-0" href="">Diario</a></li>
                                               <li class="list-group-item p-1"><a class="btn btn-primary border-0" href="">Semanal</a></li>
                                               <li class="list-group-item p-1"><a class="btn btn-primary border-0" href="">Mes</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-12 col-sm-12 col-lg-12 text-center p-3">
                                            <div class="table-responsive text-nowrap">
                                                <table class="table table-bordersell">
                                                    <tbody>
                                                        <tr class="table_list">
                                                            <th class="text-left" scope="row">1</th>
                                                            <td class="text-left">
                                                                <p class="p-0 m-0">Productos electrónicos</p>
                                                                <span class="p-0 m-0">otros</span>
                                                            </td>
                                                            <td class="text-right state">Enviado</td>
                                                            <td class="text-right">
                                                                <p class="p-0 m-0">S/. 250</p>
                                                                <span class="p-0 m-0">5 productos</span>
                                                            </td>
                                                            <td class="text-right"><i class="bi bi-arrow-right-square-fill"></i></td>
                                                        </tr>
                                                        <tr class="table_list">
                                                            <th class="text-left" scope="row">2</th>
                                                            <td class="text-left">
                                                                <p class="p-0 m-0">Productos electrónicos</p>
                                                                <span class="p-0 m-0">otros</span>
                                                            </td>
                                                            <td class="text-right state">Enviado</td>
                                                            <td class="text-right">
                                                                <p class="p-0 m-0">S/. 250</p>
                                                                <span class="p-0 m-0">1 producto</span>
                                                            </td>
                                                            <td class="text-right"><i class="bi bi-arrow-right-square-fill"></i></td>
                                                        </tr>
                                                        <tr class="table_list">
                                                            <th class="text-left" scope="row">3</th>
                                                            <td class="text-left">
                                                                <p class="p-0 m-0">Productos electrónicos</p>
                                                                <span class="p-0 m-0">otros</span>
                                                            </td>
                                                            <td class="text-right state">Enviado</td>
                                                            <td class="text-right">
                                                                <p class="p-0 m-0">S/. 250</p>
                                                                <span class="p-0 m-0">5 productos</span>
                                                            </td>
                                                            <td class="text-right"><i class="bi bi-arrow-right-square-fill"></i></td>
                                                        </tr>
                                                        <tr class="table_list">
                                                            <th class="text-left" scope="row">4</th>
                                                            <td class="text-left">
                                                                <p class="p-0 m-0">Productos electrónicos</p>
                                                                <span class="p-0 m-0">otros</span>
                                                            </td>
                                                            <td class="text-right state">Enviado</td>
                                                            <td class="text-right">
                                                                <p class="p-0 m-0">S/. 250</p>
                                                                <span class="p-0 m-0">5 productos</span>
                                                            </td>
                                                            <td class="text-right"><i class="bi bi-arrow-right-square-fill"></i></td>
                                                        </tr>
                                                        <tr class="table_list">
                                                            <th class="text-left" scope="row">5</th>
                                                            <td class="text-left">
                                                                <p class="p-0 m-0">Productos electrónicos</p>
                                                                <span class="p-0 m-0">otros</span>
                                                            </td>
                                                            <td class="text-right state">Enviado</td>
                                                            <td class="text-right">
                                                                <p class="p-0 m-0">S/. 250</p>
                                                                <span class="p-0 m-0">5 productos</span>
                                                            </td>
                                                            <td class="text-right"><i class="bi bi-arrow-right-square-fill"></i></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <!-- - ====================================-METODOS DE PAGO- ====================================-->
                        <div class="tab-pane fade" id="list-pay" role="tabpanel" aria-labelledby="list-pay-list">
                            <div class="container-personal buy p-4 border rounded">
                                <div class="card-body pt-3 pb-0 mt-n3">
                                    <div class="row">
                                        <div class="col-md-7 text-left">
                                            <h5 class="m-0 p-0"> Mis métodos de pago</h5>
                                            <span class="col-form-label-sm" th:text="${tarjetas.size} + ' compras'"></span>
                                        </div>
                                        <div class="col-12 col-lg-5 col-md-8 col-sm-8 text-right">
                                            <ul class="list-group list-group-horizontal pl-3">
                                               <li class="list-group-item p-1"><a class="btn btn-primary border-0" th:href="@{/perfil-metodo/new}">Agregar nuevo método de pago</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center p-3">
                                            <table class="table table-bordersell">
                                                <tbody>
                                                    <tr class="table_list" th:each="t:${tarjetas}">
                                                        <th class="text-left" scope="row">·</th>
                                                        <td class="text-left">
                                                            <p class="p-0 m-0" th:text="'ID ' + ${t.id_tarj}"></p>
                                                        </td>
                                                        <td class="text-right state">Válida</td>
                                                        <td class="text-right">
                                                            <span class="p-0 m-0"  th:text="'Tipo : ' + ${t.tip_tarj}"></span>
                                                        </td>
                                                        <td class="text-right">
                                                        <a th:href="@{'/perfil-metodo/' + ${t.id_tarj}}" class="text-right"><i class="bi bi-arrow-right-square-fill" style="vertical-align: middle;"></i></a>
                                                        <form th:action="@{'/metodoDelete/' + ${t.id_tarj}}" method="post" style="display: contents">
                                                        	<button class="btn btn-danger">X</button>
                                                        </form>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </section>
    
    <!-- ========================= SECTION  END// ======================= -->
    
    <footer th:replace="layout/layout::footer-2"></footer>
    
</body>
</html>