<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout::head"></head>

<body>
	
	<header th:replace="layout/layout::header"></header>

	<!-- ========================= SECTION PAGETOP ========================= -->
	<section class="section-pagetop bg padding-45">
		<div class="container">
			<h2 class="title-page">Producto</h2>
			<nav>
				<ol class="breadcrumb text-white">
					<li class="breadcrumb-item"><a th:href="@{/index}">Inicio</a></li>
					<li class="breadcrumb-item"><a th:href="@{/productos}">Productos</a></li>
					<li class="breadcrumb-item active" aria-current="page">Producto</li>
				</ol>
			</nav>
		</div> <!-- container //  -->
	</section>
	<!-- =========================  END// ========================= -->
	<!-- ============================ COMPONENT 3 ================================= -->
	<div class="container">
		<div class="card" >
			<div class="row no-gutters">
				<aside class="col-sm-6 border-right container-img-detail">
					<article class="gallery-wrap" style="margin:auto">
						<div class="img-big-wrap">
							<a class="link-img-detail" href="#"><img class="card-product-detail"
									th:src="${producto.image}"></a>
						</div> <!-- img-big-wrap.// -->
					</article> <!-- gallery-wrap .end// -->
				</aside>
				<main class="col-sm-6">
					<form method="post" th:action="@{/producto}">
					<input style="display: none;" th:value="${producto.prod}" name="probBole"/>
					<article class="content-body description">
						<h3 class="title" th:text="${producto.mod_prod}"></h3>
						<div class="rating-wrap mb-3">
							<span class="badge badge-warning" > <i class="fa fa-star"> </i><span th:text="${producto.calidad}"></span></span>
							<small class="text-muted ml-2" th:text="${producto.mar_prod}"></small>
						</div>
						<p th:text="${producto.observacion}" ></p>
						<p th:text="${producto.descrip_prod}" ></p>


						<div class="row mt-3 align-items-center">
							<div class="col">
							<span class="s-money" >S/.</span>
								<span class="s-money" th:text="${producto.precio}"></span>
								<select class="form-control w-50" name="cant_prod">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</select>
							</div> <!-- col.// -->
							<div class="col text-right">
								<button class="btn  btn-primary">Añadir al carrito <i
										class="icon fas fa-shopping-cart"></i> </button>
								<a href="#" class="btn  btn-light"> <i class="far fa-heart"></i> </a>
							</div> <!-- col.// -->
						</div> <!-- row.// -->

					</article> <!-- product-info-aside .// -->
					</form>
				</main> <!-- col.// -->
			</div> <!-- row.// -->
		</div> <!-- card.// -->
	</div> <!-- container //  -->
	<!-- ============================ COMPONENT 3 END .// ================================= -->

	<!-- ========================= SECTION  ========================= -->
	<section class="section-name  padding-y-sm">
		<div class="container">

			<header class="section-heading">
				<a th:href="@{/productos}" class="btn btn-outline-primary float-right">Ver más</a>
				<h3 class="section-title">Recomendados</h3>
			</header><!-- sect-heading -->

			<div class="row">
				<div class="col-lg-3 col-md-4 col-sm-6" th:each="p:${lstRecomendados}">
					<figure class="card card-product-grid">
						<div class="img-wrap">
							<img class="card-product" th:src="${p.image}">
						</div> <!-- img-wrap.// -->
						<figcaption class="info-wrap">
							<div class="fix-height  box-link">
								<p class="m-0 info-text" th:text="${p.mar_prod}"></p>
								<a th:href="@{'/producto/' + ${p.prod}}" class="title"
									th:text="${p.mod_prod}"></a>
								<div class="price-wrap mt-2">
									<span class="price" th:text="${p.precio}"></span>
								</div> <!-- price-wrap.// -->
							</div>
							<a href="#" class="btn btn-block btn-primary">Añadir al carrito </a>
						</figcaption>
					</figure>
				</div> <!-- col.// -->

			</div> <!-- row.// -->

		</div><!-- container // -->
	</section>
	<!-- ========================= SECTION  END// ========================= -->

	
	<footer th:replace="layout/layout::footer-2"></footer>
</body>