<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout::head"></head>

<body>
	
	<header th:replace="layout/layout::header"></header>

	<section class="section-content padding-y" style="min-height: calc(100vh - 265px);">
		<div class="container">

			<header class="section-heading">
				<h2 class="section-title">Términos y condiciones</h2>
			</header><!-- sect-heading -->

			<article>


				<p>Versión vigente a partir del 01/03/2021</p>
				<p>Este contrato describe los términos y condiciones generales (en adelante, los "Términos y Condiciones
					Generales") aplicables al uso de los servicios ofrecidos por Second Life Perú S.R.L. (en adelante,
					los "Servicios") dentro de los sitios de Second Life. Cualquiera que desee acceder y/o usar el Sitio
					o los Servicios podrá hacerlo sujetándose a los Términos y Condiciones Generales de Second Life,
					junto con todas las demás políticas y principios que rigen en Second Life y que son incorporados al
					presente por referencia.</p>
				<p>CUALQUIER PERSONA QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES GENERALES Y LOS TERMINOS Y CONDICIONES
					DE SECOND LIFE, LOS CUALES TIENEN UN CARÁCTER OBLIGATORIO Y VINCULANTE, DEBERÁ ABSTENERSE DE
					UTILIZAR EL SITIO Y/O LOS SERVICIOS.</p>

				<p>El Usuario debe leer, entender y aceptar todas las condiciones establecidas en los Términos y
					Condiciones Generales y en las Políticas de Privacidad así como en los demás documentos incorporados
					a los mismos por referencia, previo a su inscripción como Usuario de Second Life.</p>
				<p>Los Servicios sólo están disponibles para personas que tengan capacidad legal para contratar (en
					adelante, el “Usuario”, o en plural, los “Usuarios”). No podrán utilizar los Servicios las personas
					que no tengan esa capacidad, los menores de edad o Usuarios de Second Life que hayan sido
					suspendidos temporalmente o inhabilitados definitivamente. Para registrar un Usuario como Empresa,
					se deberá contar con la capacidad suficiente como para contratar a nombre y representación de tal
					entidad como así también de obligar a la misma en los términos de este Acuerdo.</p>
				<p>Es obligatorio completar el formulario de registración en todos sus campos con datos válidos para
					poder utilizar los servicios que brinda Second Life. El Usuario deberá completar el mencionado
					formulario de registración con la información personal que le sea solicitada de manera exacta,
					precisa y verdadera (en adelante, los "Datos Personales") y asume el compromiso de actualizar los
					Datos Personales conforme resulte necesario. El Usuario presta expresa conformidad con que Second
					Life utilice diversos medios para identificar sus datos personales, asumiendo el Usuario la
					obligación de revisarlos y mantenerlos actualizados. Second Life NO se responsabiliza por la certeza
					de los Datos Personales de los Usuarios. Los Usuarios garantizan y responden, en cualquier caso, de
					la veracidad, exactitud, vigencia y autenticidad de sus Datos Personales.</p>
				<p>La registración como Usuario de Second Life implicará también la registración como Usuario de Second
					Life.</p>
				<p>A su exclusiva discreción, Second Life podrá requerir una registración adicional a los Usuarios que
					operen como concesionarias o inmobiliarias, como requisito para que dichos Usuarios accedan a
					paquetes especiales de publicaciones. En estos casos, una vez efectuada la registración adicional,
					las ofertas de venta de automóviles o inmuebles que realicen las concesionarias o inmobiliarias,
					respectivamente, sólo se publicarán en Second Life a través de alguno de dichos paquetes o bajo las
					modalidades que Second Life habilite para este tipo de Usuarios.</p>
				<br><br><br><br><br><br><br><br><br>

			</article>

		</div> <!-- container .//  -->
	</section>
	<!-- ========================= SECTION CONTENT END// ========================= -->

	<!-- ========================= SECTION CONTENT END// ========================= -->

	<footer th:replace="layout/layout::footer-2"></footer>
</body>

</html>